<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand" href="/">Главная страница</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/main">Личный кабинет</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/search_order">Отследить заказ</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled">Disabled</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>-->
<!--                        <ul class="dropdown-menu" aria-labelledby="dropdown07">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
                <div class="text-end">
                    <div th:switch="${user}">
                        <div th:case="null">
                            <div class="container">
                                <div class="row align-items-center">
<!--                                    <div id="enter">-->
                                    <div class="col"><form action="/login" method="get"><button type="submit" class="btn btn-outline-light me-2">Войти</button></form></div>
                                    <div class="col"><form action="/registration" method="get"><button type="submit" class="btn btn-warning">Регистрация</button></form></div>
                            <!--                    <a href="/login">Войти</a>/<a href="/registration">Регистрация</a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div th:case="*">
<!--                            <div id="navbar">-->
<!--                                <span onclick="myFunction()" class="dropbtn" th:text="${user.username}"/>-->
<!--                                <ul id="myDropdown" class="dropdown-content">-->
                                    <div class="col"><form action="/logout" method="get"><button type="submit" class="btn btn-warning">Выйти</button></form></div>
                                    <!--                            <li><a href="/logout">Выйти</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->

<!--                            <div class="col"><form action="/login" method="get"><button type="submit" class="btn btn-outline-light me-2">Войти</button></form></div>-->
<!--                            <div class="col"><form action="/registration" method="get"><button type="submit" class="btn btn-warning">Регистрация</button></form></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>